.header{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 10px solid $color-black-first;
    background-color: $color-black-second;
    
    &__image{
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }

    @import 'navigation-menu';
}