.skills{
    background-color: $color-first;
    flex-direction: column;
    align-items: center;
    
    
    &__h2{
        margin-top: 50px;
    }

    &__itens{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
    }

    &__img{
        width: 90px;
    }

    &__info{
        display: flex;
        flex-direction: column;
    }

    &__item{
        width: 30%;
        display:flex;
        margin-top: 38px;
        margin-left: 100px;
    }

    &__itemHeader{
        margin-left: 20px;
        font-size: 25px;
        font-family: 'Press Start 2P', cursive;
        color: $color-third;
        text-shadow: 4px 4px $color-black-first;
    }

    @import '../components/progress-bar';

}
